.Banner-header {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #f0f0f0; /* Fondo para visualizar cuando no hay imágenes */
  }
  
  .image-banner {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    position: relative; /* Posicionamiento relativo para situar el icono de eliminar */
  }
  
  .image-container {
    position: relative; /* Necesario para posicionar el icono de eliminar dentro de cada contenedor de imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; /* Espacio entre imágenes */
  }
  
  .add-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; /* Asegura que el icono esté encima de otros elementos */
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border-radius: 5px;
    padding: 5px;
  }
  
  .plus {
    color: white;
    cursor: pointer;
    font-size: 24px; /* Aumenta el tamaño del icono de añadir */
  }
  
  .trash {
    color: white;
    cursor: pointer;
    position: absolute; /* Posiciona el icono de eliminar dentro del contenedor de la imagen */
    top: 10px;
    right: 60px;
    background-color: rgba(0, 0, 0,0.5); /* Fondo semi-transparente para mayor contraste */
    border-radius: 5px;
    padding: 10px; /* Mayor padding para un área de clic más grande */
    font-size: 35px; /* Aumenta el tamaño del icono de eliminar */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-icon-container:hover {
    transform: scale(1.1); /* Pequeña animación de aumento al hacer hover */
    transition: transform 0.2s ease-in-out; /* Transición suave para el efecto de hover */
  }
  
  .plus:hover {
    color: #048e04;
  }

  .trash:hover {
    color: red; /* Cambia el color al pasar sobre los iconos */
    transform: scale(1.1); /* Pequeña animación de aumento al hacer hover */
    transition: transform 0.2s ease-in-out; /* Transición suave para el efecto de hover */
  }

  .error{
    color: red;
  }